In [1]:
import pandas as pd
import numpy as np
import pydotplus
from sklearn.datasets import load_iris
from sklearn import tree

In [2]:
data = pd.read_csv('emissions-vs-energy-use.csv')

In [3]:
data

,Federal organization,Fiscal year,GHG source,GHG scope,Energy category,Energy use (GJ),Emissions (t)
0,National Defence,FY 2005-06,facilities,1,Natural gas,5807777.17,288870.88
1,National Defence,FY 2005-06,facilities,1,Liquified petroleum gas,48244.37,2943.07
2,National Defence,FY 2005-06,facilities,1,"Fuel oil (1, 2, 4, 5, 6, diesel, kerosene)",1305193.88,95389.11
3,National Defence,FY 2005-06,facilities,1,Aviation fuels,386973.38,26322.46
4,National Defence,FY 2005-06,facilities,2,Electricity,3533821.46,320839.25
...,...,...,...,...,...,...,...
779,"Immigration, Refugees and Citizenship Canada",FY 2012-13,fleets,1,Fuels with renewable content,268.90,16.90
780,"Immigration, Refugees and Citizenship Canada",FY 2013-14,fleets,1,Gasoline,640.19,41.02
781,"Immigration, Refugees and Citizenship Canada",FY 2014-15,fleets,1,Gasoline,743.46,47.64
782,"Immigration, Refugees and Citizenship Canada",FY 2015-16,fleets,1,Gasoline,846.41,54.24
783,"Immigration, Refugees and Citizenship Canada",FY 2016-17,fleets,1,Gasoline,797.27,51.09

In [4]:
x = data.iloc[:,[3,5,6]]

In [5]:
x

     GHG scope  Energy use (GJ)  Emissions (t)
0            1       5807777.17      288870.88
1            1         48244.37        2943.07
2            1       1305193.88       95389.11
3            1        386973.38       26322.46
4            2       3533821.46      320839.25
..         ...              ...            ...
779          1           268.90          16.90
780          1           640.19          41.02
781          1           743.46          47.64
782          1           846.41          54.24
783          1           797.27          51.09

[784 rows x 3 columns]

In [6]:
from sklearn.preprocessing import LabelEncoder

In [7]:
labelencoder_x = LabelEncoder()

In [8]:
x = x.apply(LabelEncoder().fit_transform)

In [9]:
x

     GHG scope  Energy use (GJ)  Emissions (t)
0            0              766            753
1            0              495            480
2            0              745            741
3            0              699            695
4            1              761            759
..         ...              ...            ...
779          0               97             93
780          0              126            119
781          0              131            124
782          0              139            134
783          0              134            128

[784 rows x 3 columns]

In [10]:
from sklearn.tree import DecisionTreeClassifier

In [11]:
regressor = DecisionTreeClassifier()

In [12]:
y = data.iloc[:,2]

In [13]:
y

0      facilities
1      facilities
2      facilities
3      facilities
4      facilities
          ...
779        fleets
780        fleets
781        fleets
782        fleets
783        fleets
Name: GHG source, Length: 784, dtype: object

In [14]:
regressor.fit(x.iloc[:,0:3],y)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [15]:
x_in = np.array([0,854,846])

In [16]:
y_prediction = regressor.predict([x_in])

In [17]:
y_prediction

array(['facilities'], dtype=object)

In [18]:
from sklearn.externals.six import StringIO

C:\Users\nuzra\Anaconda3\lib\site-packages\sklearn\externals\six.py:31: DeprecationWarning: The module is deprecated in version 0.21 and will be removed in version 0.23 since we've dropped support for Python 2.7. Please rely on the official version of six (https://pypi.org/project/six/).
  "(https://pypi.org/project/six/).", DeprecationWarning)

In [19]:
from IPython.display import Image

In [20]:
from sklearn. tree import export_graphviz

In [21]:
import pydotplus

In [22]:
dot_data = StringIO()

In [23]:
export_graphviz(regressor, out_file = dot_data, filled = True,rounded=True,special_characters = True)

In [24]:
graph = pydotplus.graph_from_dot_data(dot_data.getvalue())

In [25]:
graph.write_png('treeViewer.png')

True